body{
      
    background-repeat:none;
    background-color: black;
    background-size: cover;
    display: flex;
    
    }
    
    h1{
    text-align: left;
    color: orange;
    font-family:poppins;
    font-size : 25px
    
    }
    #logoArea{
        width:7%;
        margin: 0px;
      }
      #titleArea{
      
        color:orange;
        
        /* text-align:left; */
        font-size:25px;
        font-family:poppins;
        font-weight:bold;
        
      }
      .header{
        background-color:white ;
        box-shadow:5px 5px 5px rgba(68, 52, 52, 0.6);
        color:orange;
        font-family:poppins;
        height: 100px; 
        width: 100%;
         
      }
     p{
         color: orange;
         font-size: 20px; ;
     }
     input[type=text]{
        width: 55%;
        padding: 10px 20px;
        margin: 6px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-sizing: border-box;
        color: black ;
        } 
     input[type=submit] {
        width: 50%;
        /* font-size: 30px; */
        color: black;
        padding: 14px 20px;
        margin: 50px;
        border: none;
        font-family:poppins;
        border-radius: 50px;
        cursor: pointer;
        background-color: orange; 
        }
        input[type=submit]:hover {
        background-color:orangered;
        }